registry=https://nexus.digital.r-one.io/repository/npm-registry
@r1-backend:registry=https://nexus.digital.r-one.io/repository/d2c-web-js
update-notifier=false
strict-ssl=false
audit=false
engine-strict=true
